.wrapper:after {
  content: " ";
  display: table;
  clear: both;
}

.wrapper td {
  width: 150px;
  height: 150px;
  border: 1px solid;
  text-align: center;
  font-size: 38px;
}

table{
	border-collapse: collapse;
}